<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
        }({
        instrumentationKey: "@(System.Web.Configuration.WebConfigurationManager.AppSettings["ai:InstrumentationKey"])"
    });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CaseClosed!!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Cases")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cases</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("My Cases", "Index", "Cases")</li>
                            <li>@Html.ActionLink("Establish Case", "Create", "Cases")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Operations")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Operations</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("My Operations", "Index", "Operations")</li>
                            <li>@Html.ActionLink("New Operation", "Create", "Operations")</li>
                            <li>@Html.ActionLink("De-Confliction", "Deconflict", "Operations")</li>
                            <li>@Html.ActionLink("Command Center", "CommandCenter", "Operations")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Subjects")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Subjects</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("All Subjects", "Index", "Subjects")</li>
                            <li>@Html.ActionLink("New Subject", "Create", "Subjects")</li>
                            <li>@Html.ActionLink("De-Confliction", "Deconflict", "Subjects")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Inventory")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventory</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("My Inventory", "Index", "Inventory")</li>
                            <li>@Html.ActionLink("Submit Inventory", "Create", "Inventory")</li>
                            <li>@Html.ActionLink("Seizures", "Seizures", "Inventory")</li>
                            <li>@Html.ActionLink("Assets", "Assets", "Assets")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Settings")" title="Settings" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Permissions", "Index", "Permissions", new { area = "settings" }, null)</li>
                            <li>@Html.ActionLink("Users", "Index", "Users", new { area = "settings" }, null)</li>
                            <li>@Html.ActionLink("Reference Data", "Index", "ReferenceData", new { area = "settings" }, null)</li>
                            <li>@Html.ActionLink("Organization Data", "Index", "OrganizationData", new { area = "settings" }, null)</li>
                            <li>@Html.ActionLink("Form Templates", "Index", "FormTemplates", new { area = "settings" }, null)</li>
                            <li>@Html.ActionLink("Workflows", "Index", "Workflows", new { area = "settings" }, null)</li>
                            <li>@Html.ActionLink("Smoke Tests", "Index", "SmokeTests")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
                <form class="navbar-form hidden-sm hidden-xs" role="search">
                    <div class="input-group input-group-sm col-md-2">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn btn-default type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
