@model CaseClosed.Web.Models.SmokeTests.IndexViewModel

@{
    ViewBag.Title = "Smoke Tests";
    ViewBag.ActiveMenu = "Settings";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_Flash")

<p>
    @if (Model.CanCreateSmokeTest)
    {
        <a id="createSmokeTestButton" href="@Url.Action("Create", "SmokeTests")" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> @L("CreateSmokeTest")</a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Created</th>
            <th>Creator</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items.Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CreationTime</td>
                <td>@item.Creator</td>
                <td>@item.Message</td>
            </tr>
        }
    </tbody>
</table>
