@model CaseClosed.Web.Features.SmokeTests.Index.Result
@{
    ViewBag.Title = "Smoke Tests";
}

<h2>Smoke Tests</h2>

<div class="">
    @using (Html.BeginForm("Create", "SmokeTests"))
    {
        <input type="hidden" name="Command.CreatedBy" value="nkpatterson" />
        <button class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Create Test</button>
    }
</div>
<hr />
@if (Model.Items.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Created By</th>
                <th>Success</th>
                <th>Messages</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr class="@(item.Success == false ? "danger" : "")">
                    <td>@item.Id</td>
                    <td>@item.Created</td>
                    <td>@item.CreatedBy</td>
                    <td>@item.Success</td>
                    <td>
                        @if (item.Messages != null)
                        {
                            foreach (var msg in item.Messages)
                            {
                                <span>@msg</span>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="well">
        There are no smoke tests in the system. Click the Create Test button above to generate one.
    </div>
}